<fieldset>
  <legend>Trigger component</legend>
  <app-trigger></app-trigger>

</fieldset>
<fieldset>
  <legend>func holder component</legend>
  <app-func-holder></app-func-holder>
</fieldset>
<section>
  <p>
    CD will run all the components in the app. the function will run every time. <br>
    Notice that if this function (that runs on CD) changes anything in the DOM, <br>
    we will get the much loved "Expression has changed after it was checked" error.
  </p>
  <p>
    Try the effect of 'OnPush' on either of them
  </p>
</section>
